// Dashboard
.action-menu {
	padding-top: 2rem;
	padding-bottom: 2rem;

	&__item {
		align-items: center;
		border: 1px solid rgba(#000, 0.2);
		border-radius: 4px;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		padding: 5px;
		text-align: center;
		width: 100%;
	}
}

.user {
	align-items: center;
	background: linear-gradient(#ffa34b, #ff8240);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 3rem 1rem;

	&__avatar {
		margin-left: auto;
		margin-right: auto;
		width: 48px;
		height: 48px;
	}

	&__display_name {

	}

	&__role {

	}
}

.damaged-devices-list {
	&__item {
		align-items: center;
		border: 1px solid rgba(#000, .12);
		border-radius: 6px;
		display: flex;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}

		> * {
			padding: 0.5rem;
		}
	}

	&__sl {
		width: 32px;
		text-align: center;
	}

	&__avatar {
		width: 48px;
	}

	&__name {
		width: calc(50% - (90px));
	}

	&__store-name {
		width: calc(50% - (90px));
	}

	&__phones {
		width: 100px;
		background: #f1f1f1;
		margin: 1rem;
		border-radius: 100px;
		text-align: center;
	}
}
