@import "../src/material-design-lite/card/card";
@import "../src/material-design-lite/shadow/shadow";
@import "tiny-slider/slider";

// Star Rating
.star-rating__star.is-selected {
	&:nth-child(1) {
		color: #faa63a;
	}

	&:nth-child(2) {
		color: #f9a439;
	}

	&:nth-child(3) {
		color: #f79536;
	}

	&:nth-child(4) {
		color: #f68d34;
	}

	&:nth-child(5) {
		color: #f58733;
	}
}

// Testimonial
.client-testimonial {
	display: flex;
	flex-wrap: nowrap;

	&-description {
		font-size: 16px;
		line-height: 1.6;
	}

	&-item {
		// padding: 1rem;
		margin: 2px;
	}

	.mdl-card {
		justify-content: space-between;
		width: 100%;
		height: 100%;
	}

	.mdl-card__actions {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
