@import "../src/material-design-lite/card/card";
@import "../src/material-design-lite/shadow/shadow";

// Testimonial
.client-testimonial {
  display: flex;
  flex-wrap: wrap;

  &-item {
	padding: 1rem;
  }
}
