@import "../src/material-design-lite/card/card";
@import "../src/material-design-lite/shadow/shadow";
@import "tiny-slider/slider";

// Star Rating
.star-rating__star.is-selected {
	&:nth-child(1) {
		color: #faa63a;
	}

	&:nth-child(2) {
		color: #f9a439;
	}

	&:nth-child(3) {
		color: #f79536;
	}

	&:nth-child(4) {
		color: #f68d34;
	}

	&:nth-child(5) {
		color: #f58733;
	}
}

// Testimonial
.client-testimonial {
	display: flex;
	flex-wrap: nowrap;

	&-avatar {
		align-items: center;
		display: flex;
		height: 92px;
		justify-content: center;

		&-image {
			box-sizing: border-box;
			background: #f1f1f1;
			border: 2px solid #f58733;
			border-radius: 40px;
			height: 72px;
			margin: 1rem;
			width: 72px;

			img {
				border: 1px solid #fff;
				border-radius: 36px;
				margin: 0 !important;
			}
		}
	}

	&-description {
		font-size: 16px;
		line-height: 1.6;
		text-align: justify;
	}

	&-item {
		// padding: 1rem;
		margin: 2px;
	}

	.mdl-card {
		justify-content: space-between;
		width: 100%;
		height: 100%;
	}

	.mdl-card__actions {
		border-top: none;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		.star-rating {
			min-width: 9em;
		}
	}
}
