.demo-avatar {
	width: 48px;
	height: 48px;
	border-radius: 24px;
}

.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
	color: rgba(0, 0, 0, 0.54);
}

.mdl-layout__drawer .avatar {
	margin-bottom: 16px;
}

.demo-drawer {
	border: none;
}

/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
	// z-index: -1;
}

.demo-drawer .demo-navigation {
	z-index: -2;
}

/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
	display: flex;
	align-items: center;
}

.demo-drawer-header {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 16px;
	height: 151px;
	background-image: linear-gradient(-90deg, #f9a73b, #f58730);
	color: rgb(255, 255, 255);
}

.demo-avatar-dropdown {
	display: flex;
	position: relative;
	flex-direction: row;
	align-items: center;
	width: 100%;
}

.demo-navigation {
	flex-grow: 1;
}

.demo-layout .demo-navigation .mdl-navigation__link {
	display: flex !important;
	flex-direction: row;
	align-items: center;
	color: rgba(#000, 0.85);
	font-weight: 500;
	padding: 16px;

	&:hover,
	&.is-active {
		background-image: linear-gradient(-90deg, #f9a73b, #f58730);
		color: #fff;
	}
}

.demo-header .mdl-layout__header-row {
	background-image: linear-gradient(-90deg, #f9a73b, #f58730);
}

.demo-content {
	padding: 30px;
}
