.star-rating__star.is-selected {
	&:nth-child(1) {
		color: #faa63a;
	}

	&:nth-child(2) {
		color: #f9a439;
	}

	&:nth-child(3) {
		color: #f79536;
	}

	&:nth-child(4) {
		color: #f68d34;
	}

	&:nth-child(5) {
		color: #f58733;
	}
}
